@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

:root {
  --main-color-black: #272a31;
  --main-color-red: #ec5242;
  --main-color-gray: #f8f8f8;
  --main-mx-width: 1200px;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "lato", sans-serif;
  font-weight: normal;
}

body.change {
  min-height: 100vh;
  overflow: hidden;
}

.header {
  position: relative;
}

nav {
  display: none;
}

nav.change {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
}

.logo {
  font-size: 1.2em;
  font-weight: 700;
}

nav.change .logo {
  display: none;
}

.change ul {
  width: 100%;
}

.change ul li {
  width: 100%;
  list-style: none;
  margin: 1rem 0;
  padding-inline: 3rem;
}

.change ul li a {
  text-decoration: none;
  color: var(--main-color-gray);
  font-size: 2rem;
  z-index: 100;
}

.main-program .see-program a {
  color: var(--main-color-gray);
  display: none;
}

.change ul li a:hover {
  color: var(--main-color-black);
  background-color: var(--main-color-gray);
}

.mobile-menu-bg {
  display: none;
}

.mobile-menu-bg.change {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(8px);
  mix-blend-mode: multiply;
  background-color: var(--main-color-black);
  z-index: 1;
}

/* ********** hamburger menu ************ */

.hamburger-menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 2rem;
  height: 5px;
  margin: 5px 0;
  background-color: #272a31;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 10px) rotate(45deg);
  background-color: var(--main-color-red);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(-45deg);
  background-color: var(--main-color-red);
}

.background-image {
  width: 100%;
}

.background-image img {
  object-fit: cover;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

/* ************** main page ********* */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.title-and-description {
  padding: 1em;
  color: var(--main-color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--main-mx-width);
  width: 100%;
  height: 100%;
}

.title-and-description .main-title {
  color: var(--main-color-red);
}

.title-and-description .hero-title {
  background-image: url(../images/code-image-clip.jpg);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
  color: #ec5242;
  font-family: 'cocogoose', sans-serif;
  background-size: cover;
  font-size: 2em;
  width: 100%;
  font-weight: 900;
  line-height: 30pt;
  margin-top: 1rem;
}

.title-and-description .description-text {
  border: 5px solid white;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #f7f7f7;
  max-width: 400px;
  width: 100%;
}

.title-and-description .program-time {
  font-family: 'cocogoose', sans-serif;
  font-weight: 700;
}

.title-and-description .program-place {
  font-weight: 400;
}

/* *********** mainprogram section ****** */

.main-program {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

.program {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-color-black);
  color: var(--main-color-gray);
  background-image: url(../images/pattern.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 5%;
  backdrop-filter: blur(8px);
}

.main-program .main-program-title {
  position: relative;
  padding: 1em;
  font-size: 1.5em;
}

.main-program-title::after {
  content: "";
  position: absolute;
  top: 3em;
  left: 50%;
  width: 3rem;
  height: 1px;
  transform: translate(-50%, -50%);
  background-color: #ec5242;
}

.main-program .program-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.main-program .program-container .content {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: rgb(73, 79, 92, 0.9);
  width: 100%;
}

.content .icon {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-and-description-container img {
  width: 150px;
  z-index: 2;
  object-fit: cover;
  padding: 0.5em;
}

.content .icon img {
  width: 35px;
}

.content .title {
  color: var(--main-color-red);
  font-size: 1.1em;
  width: 100%;
  max-width: 100px;
  text-align-last: auto;
}

.main-program .join-btn {
  background-color: var(--main-color-red);
  color: var(--main-color-gray);
  outline: none;
  border: none;
  padding: 2rem;
  font-size: 1.2rem;
}

/* *********** featured speakers section */

.featured-speaker-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-speaker {
  width: 100%;
  max-width: var(--main-mx-width);
}

.title-container {
  width: 100%;
  padding: 1em;
  text-align: center;
  color: var(--main-color-black);
}

.title-container .title-text {
  position: relative;
  font-size: 1.5em;
}

.title-container .title-text::after {
  content: "";
  position: absolute;
  top: 2em;
  left: 50%;
  width: 3rem;
  height: 1px;
  transform: translate(-50%, -50%);
  background-color: #ec5242;
}

.dynamic-content-container {
  padding: 1em;
}

.image-and-description-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1em;
}

.image-and-description-container .transparent-image {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.name-and-description-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 0.8em;
}

.name-and-description-container .name-of-professor {
  font-size: 1rem;
  font-weight: 700;
}

.name-and-description-container .red-text {
  color: var(--main-color-red);
}

.image-and-description-container .black-text {
  color: var(--main-color-black);
}

/* ********** footer *********** */

.footer .footer-section {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--main-color-black);
}

.footer .footer-title {
  color: #d3d3d3;
  padding: 1rem;
  font-size: 1.5rem;
  position: relative;
}

.footer-title::after {
  content: "";
  position: absolute;
  top: 4.5rem;
  left: 50%;
  width: 3rem;
  height: 1px;
  transform: translate(-50%, -50%);
  background-color: #ec5242;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
}

.footer ul .contributer-images {
  width: 33%;
  padding: 0.5rem 0;
}

.footer ul .contributer-images img {
  width: 75%;
  filter: grayscale(100%);
}

.footer .logo-and-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
}

.footer .logo-and-description .logo {
  float: left;
}

.footer .logo-and-description .logo a {
  color: var(--main-color-black);
  text-decoration: none;
}

.logo-and-description .description {
  width: 50%;
  padding: 1rem 0;
  font-size: 0.8rem;
  float: right;
}

#desktop {
  display: none;
}

.ads-container {
  display: none;
}

@media (min-width: 768px) {
  header {
    box-shadow: 2px 2px 7px rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ads-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    background-color: var(--main-color-black);
    width: 100%;
  }

  .ads-container .ad-content {
    width: 100%;
    max-width: var(--main-mx-width);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .ad-content span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul li a {
    text-decoration: none;
    color: var(--main-color-black);
    padding: 0.5rem;
    font-weight: 500;
  }

  .ad-content span a {
    text-decoration: none;
    color: #fff;
    width: 4em;
  }

  .ad-content span #twitter {
    width: 27%;
    float: right;
    margin-right: 1.5em;
  }

  .ad-content span #facebook {
    width: 15%;
    float: right;
  }

  .hamburger-menu {
    display: none;
  }

  .mobile-menu-bg.change {
    display: none;
  }

  nav ul li {
    list-style: none;
    padding-inline: 1em;
  }

  .change ul li {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 0;
    padding-left: 1em;
    width: 100%;
    max-width: var(--main-mx-width);
    z-index: 1;
  }

  nav .logo a {
    text-decoration: none;
    color: var(--main-color-black);
  }

  nav ul {
    display: flex;
  }

  nav ul li a:hover {
    color: var(--main-color-red);
  }

  .main-program .see-program a {
    display: block;
  }

  #codingCampaign a {
    color: #ec5242;
    border: 4px solid var(--main-color-red);
  }

  /* ************ main ******** */

  .main {
    height: 750px;
  }

  .title-and-description {
    position: relative;
    top: -3.5em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .title-and-description .main-title {
    font-size: 2.5em;
    font-weight: 400;
  }

  .title-and-description .hero-title {
    font-size: 4.2em;
    font-weight: 900;
    line-height: 50pt;
  }

  .title-and-description .description-text {
    max-width: 650px;
    width: 100%;
    font-weight: 550;
    font-size: 1em;
    line-height: 2em;
  }

  .title-and-description .program-place {
    font-size: 1.2em;
  }

  .main-program .program-container {
    flex-direction: row;
    gap: 0.2rem;
  }

  .content {
    height: 250px;
  }

  .content:hover {
    border: 3px solid var(--main-color-gray);
    cursor: pointer;
  }

  .main-program .program-container .content {
    flex-direction: column;
  }

  .content .title {
    text-align: center;
    font-size: 1.5em;
  }

  .main-program .program-container .last {
    display: none;
  }

  .main-program .join-btn {
    display: none;
  }

  .main-program {
    background-size: 4%;
    width: 100%;
    max-width: var(--main-mx-width);
  }

  /* *****************featured speaker *********** */

  .dynamic-content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em 0;
    gap: 1em;
  }

  .image-and-description-container {
    width: 48%;
  }

  .name-and-description-container .name-of-professor {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .footer .footer-section {
    padding: 5rem 10rem;
  }

  .footer ul {
    flex-wrap: nowrap;
    padding: 0 4rem;
  }

  .footer ul .contributer-images {
    padding: 2rem;
  }

  .footer .logo-and-description {
    padding: 4rem 10rem;
    background-color: var(--main-color-gray);
  }

  .logo-and-description .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    font-size: 1rem;
  }

  #desktop {
    display: block;
  }
}
